* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('static/footballs.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    background-color: #1890a0; 
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: #000000;
}

.header-link {
    display: inline-block;
    padding: 1px 3px;
    background-color: #1880a0;
    color: white;
    border: 2px solid #1880a0;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
    
.header-link:hover {
    background-color: darkorchid;
    color: white;
    border-color: darkorchid;
}

/* Create two columns/boxes that float next to each other */
nav {
    float: left;
    width: 15%;
    background-color: #1880a0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    padding: 10px;
}

nav li a {
    display: block;
    color: white;
    text-decoration: none;
}

nav li:hover {
    background-color: darkorchid;
}

nav li:hover a {
    color: white;
}

article {
    padding: 20px;
    width: 70%;
    background-color: #f1ecec;
    color: #000000;
}

/* Style the footer */
footer {
    background-color: #1890a0;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Style the list of players */
.player-list {
    list-style: none;
    padding: 0;
}

.player-list-item {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.player-list-item a {
    color: #1880a0;
    text-decoration: none;
}

.player-list-item a:hover {
    color: darkorchid;
}

.player-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.player-info,
.additional-info {
    flex: 1;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
}
