body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
}

form {
    width: 100%;
    margin-top: 20px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px; /* Add some bottom margin */
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.link-button {
    display: inline-block;
    margin-bottom: 10px; /* Add some bottom margin */
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.link-button:hover {
    background-color: #0056b3;
}

.additional-links {
    margin-top: 20px;
    text-align: center;
}

.profile-info {
    text-align: left; /* Align profile info to the left */
}

.orders {
    margin-top: 20px; /* Add space between profile and orders */
}

.profile-container {
    max-width: 800px;
    margin: 0 auto; /* Center the container horizontally */
}
