{% extends "base_shop.html" %}

{% block content %}
    <h1>{{ product.name }}</h1>
    <img src="{{ product.image.url }}" alt="{{ product.name }}">
    <p>Color: {{ product.color }}</p>
    <p>Price: {{ product.price }}</p>
    <p>Size: {{ product.size }}</p>
    

    <form method="post" action="{% url 'detailed_product_page' product_id=product.id %}">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" id="quantity" value="1" min="1"><br>
        <input type="submit" class="btn btn-primary" value="Place Order" style="margin-top: 20px;">
    </form>
    
{% endblock %}
