<!-- {% extends "basepage_shop_app.html" %}
<form method="post" action="{% url 'place_order' %}">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
        {{ form.item.errors }}
        <label for="id_item">Product:</label>
        {{ form.item }}
    </div>
    <div class="form-group">
        {{ form.quantity.errors }}
        <label for="id_quantity">Quantity:</label>
        {{ form.quantity }}
    </div>
    <input type="submit" value="Place Order">
</form> -->
