<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        /* Add this style */
        .player-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        .player-info,
        .additional-info {
            flex: 1;
            padding: 20px;
            background-color: #f1f1f1;
            border-radius: 5px;
        }
    </style>
</head>

<body>

    <header>
        <div class="header-content">
            <h2>Python FC</h2>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="header-link">Logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="header-link">Login</a>
            <a href="{% url 'signup' %}" class="header-link">Signup</a>
            {% endif %}
        </div>
    </header>
    

    <section>
        <nav>
            <ul>
                <li><a href="{% url 'home_page' %}"> Home</a></li>
                <li><a href="{% url 'about_page' %}"> About</a></li>
                <li><a href="{% url 'players_page' %}"> Players</a></li>
                <li><a href="{% url 'shop_home_page' %}"> Shop</a></li>
            </ul>
        </nav>

        <article>
            {% block content %} {% endblock content %}
        </article>
    </section>

    <footer>
        <p>Footer</p>
    </footer>

</body>

</html>
